<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a.b.c.mybatis.MemberMapper">
	<!-- 로그인 체크 -->
	<select id="loginChk" statementType="CALLABLE" resultType="int"
		parameterType="java.util.HashMap">
		{
		call loginChk(#{id},#{pw})
		}
	</select>
	<!-- 중복확인 -->
	<select id="chkIdDup" statementType="CALLABLE" resultType="int"
		parameterType="java.util.HashMap">
		{
		call chkIdDup(#{id})
		}
	</select>
	<!-- 회원등록 -->
	<select id="insertMember" statementType="CALLABLE" resultType="int"
		parameterType="java.util.HashMap">
		{
		call insertMember(#{id}, #{pw}, #{name})
		}
	</select>
	<!-- 회원삭제 -->
	<select id="deleteMember" statementType="CALLABLE" resultType="int"
		parameterType="java.util.HashMap">
		{
		call deleteMember(#{id})
		}
	</select>
	<!-- 회원 리스트 -->
	<select id="selectMember" statementType="CALLABLE" resultType="java.util.List"
		parameterType="java.util.HashMap">
		{
		call selectMember()
		}
	</select>
	<!-- 보드 생성 -->
	<select id="insertBoard" statementType="CALLABLE" resultType="int"
		parameterType="java.util.HashMap">
		{
		call insertBoard(#{id}, #{title})
		}
	</select>
	<!-- 보드 타이틀 수정 -->
	<select id="updateBoard" statementType="CALLABLE" resultType="int"
		parameterType="java.util.HashMap">
		{
		call updateBoard(#{title}, #{bnum})
		}
	</select>
	<!-- 보드 삭제 -->
	<select id="deleteBoard" statementType="CALLABLE" resultType="int"
		parameterType="java.util.HashMap">
		{
		call deleteBoard(#{bnum})
		}
	</select>
	<!-- 보드 보기 -->
	<select id="selectBoard" statementType="CALLABLE" resultType="java.util.HashMap">
		{
		call selectBoard()
		}
	</select>
	<!-- 리스트 생성 -->
	<select id="insertList" statementType="CALLABLE" resultType="int"
		parameterType="java.util.HashMap">
		{
		call insertList(#{id}, #{title}, #{bnum})
		}
	</select>
	<!-- 리스트 타이틀 수정 -->
	<select id="updateList" statementType="CALLABLE" resultType="int"
		parameterType="java.util.HashMap">
		{
		call updateList(#{title}, #{bnum}, #{lnum})
		}
	</select>
	<!-- 리스트 삭제 -->
	<select id="deleteList" statementType="CALLABLE" resultType="int"
		parameterType="java.util.HashMap">
		{
		call deleteList(#{bnum}, #{lnum})
		}
	</select>
	<!-- 리스트 보기 -->
	<select id="selectList" statementType="CALLABLE" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		{
		call selectList(#{bnum})
		}
	</select>

	<!-- 카드 생성 -->
	<select id="insertCard" statementType="CALLABLE" resultType="int"
		parameterType="java.util.HashMap">
		{
		call insertCard(#{id}, #{title}, #{bnum}, #{lnum})
		}
	</select>
	<!-- 카드 타이틀 수정 -->
	<select id="updateCard" statementType="CALLABLE" resultType="int"
		parameterType="java.util.HashMap">
		{
		call updateCard(#{title}, #{bnum}, #{lnum},#{cnum})
		}
	</select>
	<!-- 카드 삭제 -->
	<select id="deleteCard" statementType="CALLABLE" resultType="int"
		parameterType="java.util.HashMap">
		{
		call deleteCard(#{bnum}, #{lnum},#{cnum})
		}
	</select>
	<!-- 카드 보기 -->
	<select id="selectCard" statementType="CALLABLE" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		{
		call selectCard(#{bnum},#{lnum})
		}
	</select>
	<select id="selectCardDetail" statementType="CALLABLE"
		resultType="java.util.HashMap" parameterType="java.util.HashMap">
		{
		call
		selectCardDetail(#{bnum},#{lnum},#{cnum})
		}
	</select>
	<select id="moveList" statementType="CALLABLE" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		{
		call
		moveList(#{listArr},#{length},#{bnum})
		}
	</select>
	<select id="moveCard" statementType="CALLABLE" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		{
		call
		moveCard(#{cardArr}, #{length}, #{bnum}, #{lnum},
		#{cnum})
		}
	</select>

	<select id="selectBoardMember" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">

		SELECT *
		FROM tb_board_members
		WHERE
		b_num=#{b_num}
		and
		m_id= #{id}



	</select>


	<insert id="msgInsert" parameterType="java.util.HashMap">
		insert into tb_chat (
		b_num
		,seq
		,m_id
		,content
		)
		VALUES (
		#{b_num}
		,#{seq}
		,#{m_id}
		,#{content}
		)
	</insert>
	<select id="msgSelect" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		SELECT *
		FROM tb_chat
		WHERE
		b_num=#{b_num}
	</select>

	<select id="maxCh_num" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		select MAX(seq) seq
		from tb_chat
		<if test="null!= b_num">
			WHERE b_num=#{b_num}
		</if>
	</select>

	<insert id="addCardReply" parameterType="java.util.HashMap">
		insert into
		tb_card_reply (
		c_key
		,seq
		,m_id
		, content
		) VALUES (
		#{c_key}
		,#{seq}
		,#{m_id}
		,#{content}
		)
	</insert>

	<select id="maxCard_Reply" resultType="java.util.HashMap">
		select MAX(seq) seq
		from
		tb_card_reply
	</select>

	<select id="selectCardReply" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		select *
		from tb_card_reply
		where
		c_key = #{c_key}

	</select>

</mapper>